@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Shadows+Into+Light');


.logo {
    font-family: 'Shadows Into Light', sans-serif;
    font-size: 3rem;
    text-align: center;
}


:root {
    --main-color: black;
}

body{
    max-width: 1250px;
    margin: auto;
}

header {
    background-image: url(../img/header-pizza.jpg);
    min-height: 800px;
    background-size: cover;
    background-position: center;
}

.product-card {
    display: grid;
    grid-template-areas:
      "images"
      "header"
      "subheader"
      "button-container";
}

.title {
    text-align: center;
    color: #464646;
    font-size: 36px;
}

header .logo {
    font-family: 'Architects Daughter', sans-serif;
    font-size: 4rem;
    text-align: left;
    margin: 20px 10px;
    color: white;
}

header .logo-second {
    font-family: 'Architects Daughter', sans-serif;
    font-size: 4rem;
    text-align: left;
    margin: 20px 10px;
    color: black;
}

header .menu {
    background-color: white;
    padding: 0;
    font-family: 'Shadows Into Light', sans-serif;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 25px;
}

header .menu li{
    display: inline;
    list-style-type: none;
}

header .menu li a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
}


header .menu li a:hover {
    text-decoration: underline;
}

@media (min-width: 550px) {
    header nav {
        display: flex;
        align-items: center;
    }
    
    header nav .menu {
        flex: 1;
    }
    
    section article div .button-container {
        display: flex;
        align-items: center;
    }
}

header .banner {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Shadows Into Light', sans-serif;
    flex-direction: column;
    color: white;
    margin-top: 180px;
}

header .banner h1 {
    color: var(--secondary-color);
    font-size: 3rem;
    color: white;
}

header .banner .button-container {
    margin-top: 20px;
}

.product-card {
    border: 1px solid #464646;
}

.product-card h2 {
    font-size: 24px;
    text-align: center;
}

.product-card h3 {
    font-style: italic;
    text-align: center;
    padding: 0 5px;
    color: grey;
    font-size: 18px;
}

.product-card p {
    padding: 0 5px;
    color: red;
    font-weight: 900;
    font-size: 25px;
}

.product-card img {
    display: block;
    width: 100%;
}

.product-card .button-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.product-card .button-container .price {
    padding: 8px 32px;
    display: flex;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: green; 
    color: white; 
    font-family: 'Iceberg', sans-serif;
    font-weight: 700;
}

.button:hover {
    background-color: #4CAF50;
    color: white;
}

@media (min-width: 480px) {
    .product-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }
}

@media (min-width: 660px) {
    .product-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

.icon {
    max-width: 60px;
}

.form {
    text-align: center;
    font-size: 18px;
}

