a {
    background-color: white;
    color: #000000;
    font-size: 24px;
    border: 10px solid #FFFFFF;
    font-style:normal;
}

.banner {
    background-position: top;
    background-image: url(img/header-pizza.jpg);
    height: 750px;
    width: 1895px;
    background-size: cover;

}

.main-name {
    font-family: Architects Daughter;
    font-size: 40px;
    color: white;
}

#img-header {
    height: 750px;
    width: 1895px;
}

.title {
    text-align: center;
    color: #464646;
}


.name {
    font-weight: 900;
    font-size: 24px;
    font-family: helvetica;
}

.description {
    color: #797979;
    font-size: 18px;
    font-family: helvetica;
    font-style: italic;
}


img {
    height: 200px; 
    width: 255px;
}

.price {
    color: red;
    font-weight: 900;
    font-size: 20px;
    font-family: helvetica;
}

label {
    text-align: center;

}

#response {
    height: 160px;
    width: 417px;
    
}


.card {
    text-align: center;
    font-family: helvetica;
}

.card button {
    border: none;
    outline: 0;

    color: black;
    background-color: #629B46;
    text-align: center;
    cursor: pointer;
    width: 135px;
    font-size: 20px;
    font-family: helvetica;
    font-weight: 700;
    height: 45px;
}

.footer {
    text-align: center;
    background-color: #D3E2FC;
    height: 85px;
    font-size: 14px;
    font-family: helvetica;
    font-weight: 700;
}

.icon {
    width: 60px;
    height: 60px;
}

.links {
    color: blue;
    font-size: 14px;
    font-family: helvetica;
    text-align: center;
}

.button-message {
    background-color: green;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

